@charset "UTF-8";
	@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
	

	
    #modal .logincard {
        margin: 0 auto; /* Added */
        height:auto;
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	.form-signin .form-control {
  		position: relative;
  		height: auto;
  		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        	 box-sizing: border-box;
  		padding: 10px;
  		font-size: 16px;
	}
	.btn-black{
		background-color: #030303 !important;
	}
	.btn-black > i {
	color : #D6BA8A;
	}
	.btn-black:hover{
	background-color: #ababab !important;

	}

	#admin-loginara{
	background-color: #d3d3d3;
	}
	#default{
	color:#D6BA8A;
	}
	/*  관리자 */
	#admin-loginarea .logincard{
       margin-left: auto; /* Added */
       margin-right: auto;
       margin-top: 40px;
        margin-bottom: 50px; /* Added */
        padding:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width:40rem;
		align: center;
		max-width: 80%;
        border-radius:20px;
        
	}
	