#main {
	background: url(/img/white.jpg);
	color: #0B0D0C;
	width: 100%;
	margin: 0;
	margin-top: 0px;
	padding: 77px 0px 50px 0px;
	min-width: 1080px;
	align : center;
}

#main #main-panel{
	
	width: 1080px;
	align-content: center;
	margin: 0 auto;
	display: table;
}

#main #main-panel .column_left{
	float: left;
	width: 745px;
}
#main #main-panel .column_left .left_top{
	height: 320px;
	background: url(/img/firmback.jpg);
	background-size: 745px 300px;
	color: #D6BA8A;
	}

#main #main-panel .column_left .left_bottom{
	height: 320px;
	background: url(/img/firmback.jpg);
	background-size: 745px 300px;
	color: #D6BA8A;
	
	}

#main #main-panel .column_left .left_top > ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
}
	
#main #main-panel .column_left .left_bottom > ul{
			list-style: none outside none;
		    padding-left: 0;
            margin: 0;
}

.content-slider li{
		    background-color: #ababab;
		    text-align: center;
		    color: #FFF;
		    height: 165.56px;
		}
.content-slider li img{
	cursor: pointer;
	}

		
.content-slider h3 {
		    margin: 0;
		    padding: 70px 0;
}	

.content-slider .nameplate {
	position: absolute;
	float: left;
	top: 120px;
	height: 45.5px;
	width: 133.3px;
	z-index: 100;
	background-color: rgb(0,0,0,0.3);
	padding-left: 10px;
}

.content-slider .nameplate .slider-poster{
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}

.content-slider .nameplate .moviename-wrap{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	width: 123.3px;
	padding-top: 3px;

}
#main #main-panel .column_right{
	float: right;
}
#main #main-panel .column_bottom{
	clear: both;
}
#main #main-panel .column_bottom .bottom_left{
	float: left;
	width: 520px;
	background: url(/img/firmback.jpg);
	}
#main #main-panel .column_bottom .bottom_right{
	float: right;
	width: 518px;
	background: url(/img/firmback.jpg);
	
	}	
#main #main-panel .panel{
	text-align: left;
	margin: 2px;
	display: block;
}

.main-top #pre-list {
	background-color: transparent;
	color: #000000;
	margin: 0 auto;
	font-size: 19px;
	cursor: default;
	width: 300px;
	height: 400px;
}

.boxoffice {
	width: 300px;
	height: auto;
	padding: 5px 2px 5px 2px !Important;
	background: url(/img/firmback.jpg);
	
}
.boxoffice small{
		color:#eee;
}
.boxoffice div ul li h3 {
	color: #D6BA8A;
	
}
.boxoffice ul  li{
	padding: 10px 10px 10px 10px;
}
.boxoffice ul .boxoffiecelist:hover{
		-webkit-filter: brightness(70%);
    filter: brightness(70%);
    cursor: pointer;
}
.boxoffice ul  li .movierank{
		display:inline-block;  
	height:16px;  
	width:auto;
	overflow: hidden;
	text-overflow: ellipsis;
}	

.boxoffice  ul  li .movietitle{
	display:inline-block;  
	height:16px;  
	width:175px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}
.boxoffice  ul  li .movierating{
	display:inline-block;  
	height:20px;  
	width:0px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.boxoffice  ul  li .movieacc{
	display:inline-block;  
	height:16px;  
	width:68px;
	overflow: hidden;
	text-overflow: ellipsis;
	float: right;
	color: #333;
	font-size: 10px;
	text-align: right;
}
.boxoffice .offcierank {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	line-height: 30px;
	padding-right: 5px;
	font-family: 'linlivertine';
	font-style: italic;
	font-weight: bold;
	font-size: 18px;
}

}
.boxtop {
	width: 400px;
	height: 80px;
	text-align: center;
	background: #000;
}

.boxtop h2 {
	position: relative;
	bottom: -15px;
	background-color: black;
	text-align: center;
	margin-bottom: 20px;
}
.boxfoot h2 {
	position: relative;
	height:10px;
	bottom: -255px;
	background-color: black;
	text-align: center;
	margin-bottom: 20px;
}


.prelist td, th {
	border: 1px solid #black;
	padding: 8px;
}

.prelist {
	width: auto;
	padding: 10px;
	overflow: hidden;
}

.prelist #prelist-hit {
	width: auto;
	height: auto;
	padding: 10px;
	margin-left: 10px;
	clear: both;
	color: #D6BA8A;
	text-overflow: ellipsis;
	
}

.prelist #prelist-new {
	boder: 1px solid #487BE1;
	width: auto;
	height: auto;
	padding: 10px;
	margin-right: 10px;
	float: right;
	clear: both;
	color: #D6BA8A;
	text-overflow: ellipsis;
	
}

.prelist #prelist-new .table > tr:hover  {
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	}

.fotorama .banner-text {
	background-color: transparent;
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: left;
	vertical-align: bottom;
	margin: 0 80px;
	padding: 33vh 50px 0 100px;
	font-size: 40px;
	text-shadow: 1px 1px 1px #333;
	cursor: pointer;
}

.fotorama .banner-text2 {
	font-size: 24px;
	text-shadow: 0.5px 0.5px 1px #333;
}


#main .column_right .serchbar-wrap{
	margin: 3px;
	padding: 5px;
	height: 86px;
	overflow: hidden;
	width: 300px;
	background : url(/img/firmback.jpg);
	color: #D6BA8A;
}


