@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Notable|Noto+Serif+KR');

* #movieDetail {
	margin: 0px auto;
	margin-top: 230px;
	width: 900px;
	height: auto;
	display: block;
	font-family: 'Noto Serif KR', sans-serif !important;
	font-size:11pt;
	box-shadow: 1px 4px 3px 1px #808080;
	margin-bottom: 25px;
	padding: 0px 25px 25px 25px;
	border-radius: 5px;
	background-color: #f2f0f2;
	border: 10px solid #ddd;
	

}
.
.nav-tabs li {
	background-color: #eaeaea;
	border-radius: 5px;
}
.nav-tabs li a{
	color: #030303;
	font-weight: bold;
		background-color: #fafafa;
	border-bottom: 0px;
}
.nav-tabs{
	position: relative;
	margin:0px 0px 0px 0px !important;
	padding-left: 0px;
	width: 800px;

}
#movieDetail .tab-content{
	width: 815px;
}
#movieDetail .tab-content #review{
	width: 815px;
}

.mdbg {
	background: linear-gradient(to right, #202020, #232239, #232239, #202020);
	width: 100%;
	height: 250px;
	z-index: 0;
	position: absolute;
	top: 76px;
	left: 0px;
}

.movieDetail-wrap {
	width: 100%;
}

.movieDetail-wrap h2 {

	color: #000;
}

.moviedetail-top {
	width: 100%;
	display: inline-block;
}

.movieDetail-poster {
    width: 230px;
    position: relative;
    top: -150px;
    float: left;
}

.title-wrap{
	position: relative;
	top: 20px;
	left: 15px;
	float: left;
}
.movieDetail-poster img {
	width: 230px;
	box-shadow: 4px 4px 3px #808080;
	border-radius: 5px;
}

.movieDetail-title {
}

.movieDetail-title h1 {
	border-bottom: 1px solid;
}

.movieDetail-info {

	width: 600px;

}

.rating-wrap{

    text-align: left;
    width: auto;
    overflow: hidden;
}
.poster-like2 .likebt2 {
	z-index: 2;
	width: 60px;
	height: 60px;
	padding-top: 3px;
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	border: 2px solid #D6BA8A;
	background-color: #D6BA8A;
	box-sizing: border-box;
	border-radius: 60px;
	transition : all 0.4s;
	/* top: 155px; */
	/* left: 85px; */
}

.poster-like2 {
	display: inline-flex;

	/*  transition : all 0.4s; */
}

.likebt2:hover {
	background-color: #E08F23;
	border-color: #E08F23;
}

.movieDetail-bottom {
}

.movieDetail-bottom .d_middle {
	background-color: #fafafa;
	width: 815px;
	margin: 0px auto;

}
.youtube_wrap{
	margin-bottom:200px;
}

.actor{
	margin-right: 55px;
    border: 1px solid #ddd;
    padding: 20px;
}
.summary{
	margin-right: 55px;
    border: 1px solid #ddd;
    padding: 20px;
}


/* 리뷰 디테일 영화정보칸 */