@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Notable|Noto+Serif+KR');

* #movieDetail {
	margin: 450px 0 0px;
	width: 100%;
	height: auto;
	display: block;
	font-family: 'Noto Serif KR', sans-serif !important;
	font-size:11pt;
}

.mdbg {
	background: linear-gradient(to right, #202020, #232239, #232239, #202020);
	width: 100%;
	height: 489px;
	z-index: 0;
	position: absolute;
	top: 76px;
	left: 0px;
}

.movieDetail-wrap {
	width: 100%;
	margin: 15px auto 0px auto;
}

.movieDetail-wrap h2 {
	margin-left: 260px;
	padding-left: 20px;
	color: #000;
}

.moviedetail-top {
	width: 100%;
	display: inline-block;
}

.movieDetail-poster {
    width: 300px;
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -10rem;
    left: -369px;
}

.movieDetail-poster img {
	width: 230px;
	box-shadow: 4px 4px 3px #808080;
	border-radius: 5px;
}

.movieDetail-title {
	width: 200px;
	top: -310px;
	left: -149px;
	position: relative;
}

.movieDetail-title h1 {
	border-bottom: 1px solid;
}

.movieDetail-info {
	position: relative;
	width: 600px;
	top: -310px;
	left: -149px;
}

.rating-wrap{
	position: relative;
    top: -310px;
    left: -149px;
}
.poster-like2 .likebt2 {
	z-index: 2;
	width: 60px;
	height: 60px;
	padding-top: 3px;
	font-size: 27px;
	font-weight: 700;
	color: #fff;
	border: 2px solid #D6BA8A;
	background-color: #D6BA8A;
	box-sizing: border-box;
	position: relative;
	border-radius: 60px;
	transition : all 0.4s;
	/* top: 155px; */
	/* left: 85px; */
}

.poster-like2 {
	display: inline-flex;
	position: relative;
	top: -379px;
	left: -2px;
	/*  transition : all 0.4s; */
}

.likebt2:hover {
	background-color: #E08F23;
	border-color: #E08F23;
}

.movieDetail-bottom {
	margin: -20rem 15rem 5rem 0rem;
}

.movieDetail-bottom .d_middle {
	box-shadow: 1px 1px 1px #808080;
	border-radius: 5px;
	background-color: #f2f0f2;
	width: 815px;
	border: 10px solid #ddd;
	padding: 10px;
}
.youtube_wrap{
	margin-bottom:200px;
}

.actor{
	margin-right: 55px;
    border: 1px solid #ddd;
    padding: 20px;
}
.summary{
	margin-right: 55px;
    border: 1px solid #ddd;
    padding: 20px;
}


/* 리뷰 디테일 영화정보칸 */