@charset "UTF-8";
		@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
		*{ font-mily: 'Nanum Gothic', arial, helvetica, sans-serif; font-size:15px;}
	.spaceLeft { margin-left: 10px;	}
	.spaceRight {margin-right: 10px;}
	.space{	margin : 10px;}
	.space2x{	margin : 20px;}
	.spaceTop{ 	margin-top: 10px;}
	.btn span. {	opacity: 0;}
	.btn.active span. {opacity: 1;}

	.back{
	 	 		display: flex;
 		overflow:visible;
 		float: none;
 		height:inherit;
 	}
 	.btn_linen{
		background-color: #353C42 !important; 	
 	}
 	.list_user{
 		border-right: 1;
 		border-right-color: #gray;
 		padding:15px;
 	}
 	.list_categoty{
 		margin-top: 20px;
 		margin-bottom: 20px;
 		font-size: 20px;
 		font-mily: 
 	}
 	
 	.list-area{
 		background-color:#b98d72;
 		width: 200px;
 		float:left;
 		min-height:45rem;
 		
 	}
 	.list-area > ul > li{
 		display : block;
 		color: #030303;
 		border: solid;
 		border-color: #a87c60
 	}
 	
 	.list-area > ul > li > a{
 		color: #030303;
 	}
 	.left_float{float: left;
 	height: inherit;
 	
 	}
 	.article{
    	margin: 10px;
    	padding: 0;
		max-width:80%;
    	width: 110rem;
		float:left;
    	margin-bottom: 10px; /* Added */
        padding-bottom:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}