@charset "UTF-8";

	#mypage{
	background-color: #eee;
	}
	.spaceLeft { margin-left: 10px;	}
	.spaceRight {margin-right: 10px;}
	.space{	margin : 10px;}
	.space2x{	margin : 20px;}
	.spaceTop{ 	margin-top: 10px;}
	.spaceBottom{ margin-bottom: 30px;}
	.btn span. {	opacity: 0;}
	.btn.active span. {opacity: 1;}

	.back{
	 	 		display: flex;
 		overflow:visible;
 		float: none;
 		height:inherit;
 	}
 	.btn_linen{
		background-color: #0B0D0C !important; 	
 	}
 	.list_user{
 		border-right: 1;
 		border-right-color: #gray;
 		padding:15px;
 	}
 	.list_categoty{
 		margin-top: 20px;
 		margin-bottom: 20px;
 		font-size: 20px;
 	}
 	
 	.list-area{
 		background-color:#202020;
 		width: 200px;
 		float:left;
 		min-height:45rem;
 		border-radius: 10px;
 		border-color: #D6BA8A;
 		border: solid;
 		
 	}
 	.list-area > ul > li{
 		display:inline-block;
 		color: #D6BA8A;
 		margin-left: 10px;
 	}
 	
 	.list-area > ul > li > a{
 		color: #D6BA8A;
 		display:inline-block;
		text-align:center; 
 	}
 	.list-area > ul > li:hover > a > label{
 		background-color: #e08f23;
 		display:inline-block;
 		color: #fff;
 		cursor:pointer;
 		transition: all 0.3s;
 	}
 	
	.list-area > ul > li > a > label{
	 		transition: all 0.3s;
	
	}
 	.left_float{float: left;
 	height: inherit;
 	
 	}
 	.article{
    	margin: 10px;
    	padding: 0;
		max-width:80%;
    	width: 110rem;
		float:left;
    	margin-bottom: 10px; /* Added */
        padding-bottom:20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	
	#categry-btn > i{
		color:#D6BA8A !important;
	}