.content-slider li{
		    background-color: rgb(0,0,0,0.0);
		    text-align: center;
		    color: #FFF;
		    height: 165.56px;
		    cursor: pointer;
		    
		}
		
		

.content-slider .nameplate {
	position: absolute;
	float: left;
	top: 120px;
	height: 45.5px;
	width: 133.3px;
	z-index: 100;
	background-color: rgb(0,0,0,0.3);
	padding-left: 10px;
}

.content-slider .nameplate .slider-poster{
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
}

.content-slider .nameplate .moviename-wrap{
	text-overflow: ellipsis;
	overflow: hidden;
	height: 20px;
	width: 123.3px;
	padding-top: 3px;

}

.movieList .panel {
	background: url(/img/firmback.jpg);
	margin: 3px;
	padding: 10px;
}

.movieList{
	width: 1080px;
	margin: 0px auto;
}
.movieList h3 {
	color: #D6BA8A;
}

.movieList h1 {
	margin: 10px;
	padding: 10px;
	color: #030303;
}